*{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 23px;
}

.list{
    border-left: 2px dashed hotpink;
}

a:link{
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}

a:visited{
    color: darkred;
}