*{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
}

.list{
    border-left: 2px dashed hotpink;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}