

footer{
    height: 50px;
    background-color: rgb(232, 199, 199);
    font-size: smaller;
    margin-top: 5px;
    padding-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: gray;
}

.copyright{
    float: left;
    word-spacing: 20px;
}

.footer_info{
    float: right;
    word-spacing: 30px;
}

img{
    width: 15px;
    height: 15px;
}

a:link{
    text-decoration: none;
    color: gray;
}

a:visited{
    text-decoration: none;
    color: gray;
}